/* Estilos para Huasi, una pagina llena de estilo.*/

/***********************
---Reglas Generales-----
***********************/

/*Definir el box-siszin a border box para todos los elementos*/

*{
  box-sizing: border-box;
}

/*Definir el alto de la pagina a 100% por default*/
:root,
html,
body{
  height: 100%;
  color: #2e3033;
}

/*Definir la fuente para el proyecto*/
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

a{
  color: #2e3033;
}

/***********************
------Main-Header-------
***********************/

.main-header{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.18);
  padding: 1em 2em;
  height: 4.0625em;
  width: 100%;
  max-width: 100%;
}

.main-header .header-logo a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-header .header-logo svg{
  height: 28px;
  max-height: 100%;
  width: 28px;
  margin-right: 0.6em;
}

.main-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-nav a:not(:last-of-type){
  padding-right: 2em;
}

.main-nav a{
  font-size: 0.9em;

}

.main-nav a:hover{
  color: #f26f62;
  color: #00b698;
}

/**+Colores Main-header - traniciones*****/

.main-header .header-logo h2,
.main-nav a{
  font-weight: 400;
  color: #2e3033;
}


.main-header .header-logo h2,
.main-header .header-logo svg,
.main-nav a{
  transition: 400ms;
}

/**class change main-header,
 efecto de scrool**/

.change{
  background-color: transparent;
  box-shadow: none;
  margin-top: 1em;
}

 .change a,
 .change .header-logo h2{
   color: #fff;
 }

 .change a{
   font-size: 1em;
 }

 .change a:hover{
   color: #fff;
 }

/***********************
-----Sistema de Grid----
***********************/

.col-12{
  width: 100%;
}

.col-11{
  width: 91.66666667%;
}

.col-10{
  width: 83.33333333%;
}

.col-9{
  width: 75%;
}

.col-8{
  width: 66.66666667%;
}

.col-7{
  width: 58.33333333%;
}

.col-6{
  width: 50%;
}

.col-5{
  width: 41.66666667%;
}

.col-4{
  width: 33.33333333%;
}

.col-3{
  width: 25%;
}

.col-2{
  width: 16.66666667%;
}

.col-1{
  width: 8.33333333%;
}


/***********************
--Elementos de Interfaz--
***********************/

.fixed{
  position: fixed;
}

.wrapper{
  padding-top: 4.0625em;
}

.full-height{
  height: calc(100vh - 4.0625em);
}

.jumbotron{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.all-midle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-row{
  flex-direction: row;
}

.f-colum{
  flex-direction: column;
}

.container{
  padding: 0 2em;
}

.air-both{
  padding-top: 3.75em;
  padding-bottom: 3.75em;
}

.img-responsive{
  max-width: 100%;
}

/*** Textos**/

.hero-title{
  color: #f7f7f7;
  font-size: 2.5em;
}

.hero-subtitle{
  color: #f7f7f7;
}

.title,
.subtitle{
  color: #2e3033;
}

.title{
  font-size: 1.9em;
  font-weight: 600;
}

.subtitle{
  font-size: 1.2em;
  font-weight: 300;
}

/***********************
-----Bg-Jumbotrones-----
***********************/

#top-hero{
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  background-image: url("../img/panecillo.jpg");
  height: 100vh;
}

/***********************
-----Estilos Formas-----
***********************/

.form-busqueda{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#top-hero .form-busqueda{
  margin-top: 2em;
}


.form-busqueda input[type="text"],
.form-busqueda button[type="submit"]{
  padding: 0.8em 1.5em;
  border: 0;
}

.form-busqueda input[type="text"]:not(:last-of-type){
  border-right: 1px solid #C7C7CD;
}

input:focus {
  outline:none;
}

/***********************
-----Estilos Botones-----
***********************/

.btn{
  outline: 0;
  cursor: pointer;
}

.btn-submit{
  color: #fff;
  background-color:  #39aa94;
}

.btn-submit:hover{
  background-color:#00b698;
}

/***********************
-------Slide-Show-------
***********************/

.vp-show{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slide-show{
  padding: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.vp-host div:first-of-type{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

.slide-show a:not(:last-of-type){
  margin-right: 1em;
}

#vp-1{
  background-image: url("../img/vp/vp-1.jpeg");
}

#vp-2{
  background-image: url("../img/vp/vp-2.jpeg");
}

#vp-3{
  background-image: url("../img/vp/vp-3.jpg");
}

#vp-4{
  background-image: url("../img/vp/vp-4.jpeg");
}

/***********************
-----Main-footer-----
***********************/

.main-footer{
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #dce0e0;
}

.main-footer,
.main-footer a{
  color: #999;
}

.main-footer h2{
  font-weight: 400;
}

.main-footer p{
  font-size: 0.9em;
  margin: 0;
}

.main-footer img{
  height: 20px;
  width: 20px;
  margin-right: 0.5em;
}

.main-footer svg{
  height: 15px;
  width: 15px;
  transition: 400ms;
}

.main-footer .foot-section:last-of-type div:last-of-type a:not(:last-of-type){
  margin-right: 1em;
}

.main-footer svg:hover .st0{
  fill: #2e3033;
  cursor: pointer;
}

.main-footer a:hover{
  color: #2e3033;
}

.main-footer .foot-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.main-footer .foot-section:first-of-type{
  padding: 3em 2em;
  justify-content: flex-start;
}

.main-footer .col-3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-footer .col-3 p{
  margin-bottom: 0.5em;
}

.main-footer .col-3 h2{
  margin-bottom: 1.5em;
}

.main-footer .foot-section:last-of-type{
  border-top: 1px solid #dce0e0;
}

.main-footer .foot-section:last-of-type div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
