/* Estilos para Huasi, una pagina llena de estilo.*/

/***********************
---Reglas Generales-----
***********************/

/*Definir el box-siszin a border box para todos los elementos*/

*{
  box-sizing: border-box;
}

/*Definir el alto de la pagina a 100% por default*/
:root,
html,
body{
  height: 100%;
  color: #2e3033;
}

/*Definir la fuente para el proyecto*/
body{
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

a{
  color: #2e3033;
}


.ui-datepicker{
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.5em 1em;

}

/***********************
------Main-Header-------
***********************/

.main-header{
  box-shadow: inset 0px -1px 5px 0px rgba(0,0,0,0.13);
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: stretch;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 2em;
  height: 60px;
  width: 100%;
  max-width: 100%;
  z-index: 100000;
}

.drop-shadow{
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  border: 0;
}

.main-header .header-logo{
  display: flex;
  align-items: center;
}

.main-header .header-logo a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.main-header .header-logo h2{
  font-size: 1.2em;
}

.main-header .header-logo svg{
  height: 21px;
  max-height: 100%;
  width: 21px;
  margin-right: 0.4em;
}

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.main-nav{
  align-items: stretch;
  justify-content: center;
}

.nav a:not(:last-of-type){
  padding-right: 2em;
}

.main-nav a{
  font-size: 0.89em;
  display: flex;
  align-items: center;
}

.main-nav a:hover{
  color: #f26f62;
  color: #00b698;
}

/**+Colores Main-header - transiciones*****/

.main-header .header-logo h2,
.main-nav a{
  font-weight: 300;
  color: #2e3033;
}


.main-header .header-logo h2,
.main-header .header-logo svg,
.main-nav a{
  transition: 400ms;
}

/**class change main-header,
efecto de scrool**/

.change{
  background-color: transparent;
  box-shadow: none;
  margin-top: 1em;
}

.change a,
.change .header-logo h2{
  color: #fff;
}

.change .header-logo h2{
  font-size: 1.5em;
}

.change .header-logo svg{
  height: 27px;
  width: 27px;
}

.change a{
  font-size: 1em;
}

.change a:hover{
  color: #fff;
}

/***********************
-----Sistema de Grid----
***********************/

.col-12{
  width: 100%;
}

.col-11{
  width: 91.66666667%;
}

.col-10{
  width: 83.33333333%;
}

.col-9{
  width: 75%;
}

.col-8{
  width: 66.66666667%;
}

.col-7{
  width: 58.33333333%;
}

.col-6{
  width: 50%;
}

.col-5{
  width: 41.66666667%;
}

.col-4{
  width: 33.33333333%;
}

.col-3{
  width: 25%;
}

.col-2{
  width: 16.66666667%;
}

.col-1{
  width: 8.33333333%;
}


/***********************
--Elementos de Interfaz--
***********************/

.fixed{
  position: fixed;
}

.relative{
  position: relative;
}

.wrapper,
.wrapper-res,
.wrapper-busqueda,
.wrapper-host,
.wrapper-usuario,
.wrapper-usuarioedit,
.wrapper-prom,
.wrapper-ayuda,
.wrapper-index,
.wrapper-corp,
.wrapper-completeInfo{
  min-height: 100vh;
  padding-bottom: 4em;
}

.wrapper,
.wrapper-corp,
.wrapper-usuario,
.wrapper-usuarioedit,
.wrapper-logsig,
.wrapper-prom,
.wrapper-ayuda,
.wrapper-res,
.wrapper-completeInfo{
  padding-top:60px;
}


.wrapper-busqueda{
  padding-top: 108px;
  z-index: -100;
}

.wrapper-host{
  padding-top: 120px;
}

.wrapper-host,
.wrapper-corp,
.wrapper-usuario,
.wrapper-usuarioedit,
.wrapper-busqueda,
.wrapper-index,
.wrapper-res,
.wrapper-ayuda,
.wrapper-prom,
.wrapper,
.wrapper-completeInfo{
  background-color: #FAFAFA;
  background-color: #f1f5f5;
}

.full-height{
  height: calc(100vh - 60px);
}

.jumbotron{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}

.all-middle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex{
  display: flex;
}

.v-middle{
  display: flex;
  align-items: center;
}

.f-row{
  flex-direction: row;
}

.f-colum{
  flex-direction: column;
}

.container{
  padding: 0 2em;
  max-width: 100%;
}

.margin-left{
  margin-left: 2em;
}

.margin-right{
  margin-right: 2em;
}

.margin-top{
  margin-top: 2em;
}

.margin-bottom{
  margin-bottom: 2em;
}

.air-both{
  padding-top: 2em;
  padding-bottom: 2em;
}

.img-responsive{
  max-width: 100%;
  height: auto;
}

.b-border{
  border-bottom: 1px solid #dce0e0;
}

.t-border{
  border-top: 1px solid #dce0e0;
}

/*** Textos**/

.hero-title{
  color: #f7f7f7;
  font-size: 2.5em;
}

.hero-subtitle{
  color: #f7f7f7;
}

.title,
.subtitle{
  color: #2e3033;
}

.title{
  font-size: 1.9em;
  font-weight: 600;
}

.caption-title{
  font-size: 2.2em;
  font-weight: 300;
}

.sec-title{
  font-size: 1.4em;
  font-weight: 400;
}

.second{
  color: #647276;
}

.subtitle{
  font-size: 1.2em;
  font-weight: 300;
}

p{
  font-weight: 300;
  font-size: 1em;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #333 ;
  text-rendering: optimizeLegibility;
}

.caption-text{
  font-size: 0.9em;
  font-weight: 300;
}

.mute-text{
  color: #8b989c;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.middle-line{
  text-decoration: line-through;
  color: #f26f62;
}

/***********************
-----Bg-Jumbotrones-----
***********************/

#top-hero{
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  background-image: url("../img/aereo.jpg");
  height: 100vh;
}

/***********************
-----Estilos Formas-----
***********************/

.form-busqueda,
.form-filtro{
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
}


::-webkit-input-placeholder {
  color: #2e3033;
}

.form-filtro{
  position: fixed;
  top: 60px;
  border-bottom: 1px solid #C7C7CD;
  width: 100%;
  background-color: #fff;
}

#top-hero .form-busqueda{
  margin-top: 2em;
}

#top-hero .form-busqueda .btn{
  border-radius: 0;
  padding-left: 2em;
  padding-right: 2em;
}

.form-busqueda{
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}


.form-busqueda input,
.form-busqueda button{
  padding: 0.9em 1.5em;
  border: 0;
}

.form-filtro input{
  padding: 0.8em 1.5em;
  border: 0;
}

.form-filtro input:first-of-type{
  padding: 0.8em 1em 0.8em 2em;
}

.form-filtro input,
.form-busqueda input[type="text"]:not(:last-of-type){
  border-right: 1px solid #C7C7CD;
}

input:focus {
  outline:none;
}

/***********************
-----Estilos Botones-----
***********************/

.btn{
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 4px;
  transition: 400ms;
}

.btn-submit{
  color: #fff;
  background-color:  #39aa94;
}

.btn-submit-white{
  background-color:  #fff;
}

.btn-submit-error{
  background-color: #E0202F;
  color: #fff;
}

.btn-submit-important{
  color: #fff;
  background-color: #f26f62;
}

.btn-submit:hover{
  background-color: #41C1A8;
}

.btn-submit-error:hover{
  background-color: #E03A47;
}

.btn-submit-important:hover{
background-color: #F4897E;
}

.btn-secondary{
  color: #39aa94;
  border: 2px solid #39aa94;
}

.verify{
  background-color: #70E593;
  background-color:  #39aa94;
  padding: 1em;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  position: relative;
}


.verify-message{
  background-color:  #39aa94;
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  color: #fff;
  position: relative;

}

.verify h2{
  color: #fff;
}

.wrapper-completeInfo .verify{
  text-align: left;
}

.error{
  background-color: #FFDFE2;
  font-weight: 300;
  color: #FF2B63;
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 5px;
}


/***********************
-------Slide-Show-------
***********************/

.vp-show,
.deal-show,
.host-show{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

.deal-show{
  padding-top: 5em;
}

.vp-show{
  background-color: #fff;
}

.wrapper-busqueda .caption-text{
  position: absolute;
  top: 130px;
  right: 2em;
  z-index: 1;
}


.slide-show{
  padding: 2.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
  z-index: 100;
}

.vp-host div:first-of-type,
.host div:first-of-type{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  transition: 400ms;
}

.host div:first-of-type{
  height: 300px;
}

.host-show .slide-show a:not(:nth-child(4n+1)){
  margin-left: 1.33em;
}

.vp-host,
.host{
  position: relative;
  z-index: 1;
}

.vp-host p,
.vp-host a{
  transition: 200ms;
}

.vp-show .slide-show a:not(:first-of-type){
  margin-left: 1em;
}

.vp-show .card-container,
.host-show .card-container{
  padding: 0;
}

.vp-show .card-container p,
.host-show .card-container p{
  padding: 0 1em;
}

.vp-show .card-container,
.host-show .card-container{
  box-shadow: 6px 6px 23px -5px rgba(0,0,0,0.5);
  transition: 400ms;
}

.vp-show .card-container:hover,
.host-show .card-container:hover{
  box-shadow: 6px 6px 23px -5px rgba(0,0,0,0.7);
}

.vp-show .slide-show a:hover {
  margin-top: 0.5em;
}

/*.slide-show a:hover .vp-host p{
color: #00b698;
}*/

#vp-1{
  background-image: url("../img/vp/vp-5.jpeg");
  background-image: url("../img/rooms/room1.jpeg");
}

#vp-2{
  background-image: url("../img/vp/vp-6.jpg");
  background-image: url("../img/rooms/room4.jpeg");
}

#vp-3{
  background-image: url("../img/vp/vp-7.jpg");
  background-image: url("../img/rooms/room3.jpeg");
}

#vp-4{
  background-image: url("../img/vp/vp-8.jpg");
  background-image: url("../img/rooms/room2.jpeg");
}


.deal-show .slide-show,
.host-show .slide-show{
  flex-wrap: wrap;
  justify-content: flex-start;
}

.deal-show .slide-show a:not(:nth-child(4n+1)){
  margin-left: 1em;
}

.deal-show .slide-show a,
.host-show .slide-show a{
  margin-bottom: 1em;
  flex-basis: calc(25% - 1em);
  transition: 400ms;
}

.deal-host{
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.2);
  box-shadow: 0px 4px 18px 6px rgba(0,0,0,0.05);
  padding: 0 1em;
}


.deal-host svg{
  height: 40px;
  max-width: 60px;
}

.deal-host svg path{
  fill: #00b698;
}

.deal-host p{
  margin: 0;
}

.deal-host .v-middle{
  margin-top: 1em;
}

.deal-host .v-middle p:not(:last-of-type){
  padding-right: 1em;
}

.deal-show .slide-show a:hover .deal-host{
  border: 1px solid  #dce0e0;
  box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.4);
}

/***********************
----Forma-Registro------
***********************/


.register-section,
.login-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4em 2em;
  /*#f1f5f5
  #6FC1B1
  #39aa94
  #f15151
  */
  /*background: linear-gradient(110deg, #f1f5f5 60%, #6FC1B1 60%);*/
  /*background: linear-gradient(110deg, #6FC1B1 60%, rgba(0, 0, 0, 0) 30%), url('../img/panecillo.jpg');*/
  background-image: url('../img/panecillo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);

}


.register-section .form .register-holder{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.register-section .age{
  margin-bottom: 0;
}

.register-section form .form,
.login-section form .form{
  box-shadow: 6px 6px 23px -5px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.login-section form{
  width:37%;
}


.register-section form{
  width: 60%;
}

.register-section input[type="text"]{
  text-transform: capitalize;
}

.login-section,
.register-section{
  height: calc(100vh - 60px);
}

.form{
  display: flex;
  flex-direction: column;
  padding: 3em 2.8em;
  background-color: #fff;
}

.login-section .form{
  padding: 3em 2.8em;
  justify-content: center;
}

.login-section .form h2,
.register-section .form h2{
  text-align: center;
  margin-bottom: 3em;
  color: #39aa94;
}

.register-section .form h2{
  text-align: left;
  margin-bottom: 2em;
}

.register-section .form .credentials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  flex: 1;
}

.register-section .form .credentials:first-of-type{
  margin-right: 3em;
}

.register-section .form .credentials:first-of-type input{
  margin-bottom: 0;
}

.register-section .register-actions div{
  color: #8D8E90;
font-weight: 300;
font-size: 0.8em;
}



.login-section .form #register-button{
  margin-bottom: 1.4em;
}

.login-section .form .contra-res{
  color: #8D8E90;
  font-weight: 300;
  font-size: 0.8em;
}

.login-section .form div,
.login-section .form input{
  width: 100%;
}

.login-section .form div:first-of-type a{
  margin-left: 1em;
}

.login-section .form .input:last-of-type{
  margin-bottom: 0.5em;
}

.login-section .form div:last-of-type{
  margin-top: 3em;
  text-align: center;
}

.login-section .form .btn-submit{
  margin-top: 0;
}

.login-section .form a{
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.form h2{
  margin-bottom: 1.5em;
}

.form input:not([type="file"]),
.form textarea,
.form select{
  outline: 0;
  border: 0;
  border-bottom: 1px solid  #dce0e0;
  background-color: #fff;
  padding: 7px 1em;

}

.form label{
  margin: 0.5em 0;
}

.login-section .form input:last-of-type{
  margin-top: 1.2em;
}

.register-section .form input:last-of-type:not(.register-actions input){
  margin-bottom: 1.2em;
}

.form a{
  width: 100%;
}

.form button{
  padding: 12px 27px;
  margin-top: 1em;
  width: 100%;
}

/***********************
-----Forma-reserva------
***********************/

.form-reserva{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2em 1em;
}

.form-reserva .flex,
.form-reserva .all-middle{
  width: 100%;
}

.form-reserva input{
  width: 100%;
  box-shadow: none;
  padding: 0.9em 1em;
}

.form-reserva .flex:last-of-type input:first-of-type{
  border-left: none;
}





/***********************
-----Hospedajes-----
***********************/



.host-title{
  text-align: left;
  flex: 1;
  margin-bottom: 1.5em;
  padding: 0 1em;
}

.hero-title .subtitle{
  font-size: 1.3em;
}

.host-info{
  padding-right: 2em;
}

#descripcion,
#evaluaciones,
#ubicacion,
.related-hosts{
  margin-top: 2em;
  padding-top: 3em;
}

.card-container{
  margin-top: 1em;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 4px 18px 6px rgba(0,0,0,0.05);
  box-shadow: 6px 6px 23px -5px rgba(0,0,0,0.2);
}

#host-name{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 1.5em;
}

#host-name img{
  vertical-align: middle;
}

#descripcion .perks ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  height: 200px;

}

#descripcion .perks ul li{
  padding: 1em 0;
}

#descripcion .perks ul li::before{
  content: "• ";
  color: #F26F62;
}

#evaluaciones span:first-of-type{
  margin-left: 1em;
}

#evaluaciones span img{
  height: 20px;
}

.host-coment{
  width: 100%;
  background-color: #fff;
  margin-top: 1em;
  padding: 1.6em 1em;
}

.host-coment:not(:last-of-type){
  border-bottom: 1px solid #dbe0e0;
}

.host-coment img{
  height: 60px;
  border-radius: 100%;
}

.coment-user{
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coment-user p{
  margin-top: 5px;
}


.related-hosts a:not(:first-of-type){
  margin-left: 1em;

}

.related-hosts a{
  z-index: 1;
}

.related-hosts{
  padding-top: 2em;
  border-top: 1px solid #dce0e0;
}

.related-hosts .card-container{
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2.5em;
}

.host-reserve{
  box-shadow: rgba(0,0,0,0.05) 0 1px;
  background-color: #fff;
  position: fixed;
  top: 60px;
  display: flex;
  align-items: stretch;
  right: 0;
  height: 50px;
  width: 100%;
  z-index: 100000;
}

.host-reserve .nav a:hover div{
  color: #39aa94;
}

.host-reserve .nav a:first-of-type{
  padding-right: 0;
  padding-left: 0;
}


.host-reserve .nav a:not(:first-of-type){
  padding-left: 4em;
  padding-right: 0;
}

.host-reserve .col-3{
  background-color: #39aa94;
}

.host-reserve .col-3 .big{
  font-weight: 400;
  font-size: 1.2em;
}

.host-reserve .col-3 h2:first-of-type{
  color: #fff;
  font-weight: 300;
  font-size: 1em;
}

.host-reserve .col-3 .caption-reserve{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: calc(25% - 1em);
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 4px 18px 6px rgba(0,0,0,0.05);
}

.caption-reserve .btn-submit{
  /*background-color: #465775;*/
}

.caption-reserve .btn-secondary{
  /*border-color: #465775;
  color: #465775;*/
}


/***********************
-----Perfil-usuario-----
***********************/

.wrapper-usuario{
  margin: auto;
}

.wrapper-usuario .container,
.wrapper-usuarioedit .container{
  margin-top: 3em;
}

.wrapper-usuario .col-4{
  margin-left: 1em;
  height: 400px;
}

.wrapper-usuarioedit .col-4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0;
  margin-right: 1em;
}

.wrapper-usuarioedit .form{
  width: 100%;
  padding-top: 0;
  padding-bottom: 1em;
}

.wrapper-usuarioedit .form:first-of-type{
  padding-top: 2em;
}




#user-menu{
  text-align: left;
  position: absolute;
  display: none;
  right: 30px;
  top: 60px;
  background: #fff;
  padding: 0.5em 1.5em;
  border-top: 2px solid #39aa94;
}

#menu-triger{
  color: #39aa94;
}

.change #menu-triger{
  color: #fff;
}

#user-menu a{
  margin: 2em 0;
}

.wrapper-usuario .col-4 p{
  margin-left: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.wrapper-usuario .col-4 p::before{
  width: 20px;
  height: 20px;
  display: inline-block;
  content: url(../img/svg/icons/check.svg);
  margin-right: 1em;
  vertical-align: middle;

}

.wrapper-usuario .col-4 p:first-of-type{
  margin-top: 3em;
}

.user-profile-info{
  padding: 2em 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.user-profile-info .user-img,
.wrapper-completeInfo .user-img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-right: 3em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper-usuarioedit .user-img{
  margin-top: 3em;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper-usuarioedit p{
  margin-top: 2em;
  max-width: 70%;
  text-align: center;
}

.wrapper-usuarioedit .profile-form input:last-of-type{
  margin-bottom: 2em;
}

.wrapper-completeInfo .user-img{
  background-color: #f1f5f5;
  background-size: 30%;
  background-position: center;
  background-image: url('../img/svg/icons/camera.svg');
}

.wrapper-completeInfo .form{
  padding-top: 0;
  padding-bottom: 0;
}

.wrapper-completeInfo .form .btn-submit{
  width: 30%;
  padding: 0.8em;
}

.user-profile-info .sec-title{
  font-size: 1.4em;
}

.user-profile-info p:first-of-type{
  margin-bottom: 0;
}

.user-profile-info p:last-of-type{
  margin-top: 0.3em;
}

.user-profile-info #user-edit{
  color: #39aa94;
  position: absolute;
  bottom: 1em;
  right: 2em;
}

.user-whishlist{
  padding: 2em;
}

.user-whishlist .sec-title{
  margin-bottom: 1em;
}

.user-whishlist .wishlist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-whishlist .wishlist h2{
  color: #fff;
  margin-bottom: 0;
}

.user-whishlist .wishlist a:not(:nth-child(2n+1)){
  margin-left: 1em;
}

.user-whishlist .wishlist a{
  flex-basis: calc(50% - 0.5em);
  margin-bottom: 1em;
}

.user-whishlist .wishlist a div:first-of-type{
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
  color: #fff;
  border-radius: 2px;
  transition: 400ms;
}

.user-whishlist .wishlist a:hover{
  box-shadow: 0px 4px 18px 6px rgba(0,0,0,0.05);
}

.user-whishlist .wishlist a:hover div:first-of-type{
  border: 1px solid;
}



/***********************
----------Ayuda--------
***********************/


.wrapper-ayuda{
  padding-top: 5em;
}

.wrapper-ayuda .title{
  font-size: 1.4em;
}

.wrapper-ayuda .title:first-of-type{
  margin-bottom: 0.5em;
}

.wrapper-ayuda .preguntas{
  padding-top: 1em;
}

.wrapper-ayuda .preguntas p{
  max-width: 100%;
  margin-bottom: 2em;
}

.wrapper-ayuda form{
  margin-top: 2em;
  padding: 0;
}

.wrapper-ayuda .col-4:first-of-type{
  height: 450px;
  margin-left: 1em;
  order: 2;
}


.wrapper-ayuda .form button{
  padding: 0.5em;
  border-radius: 5px;
  align-self: flex-end;
}

/***********************
---------Reserva--------
***********************/

.wrapper-res .container{
  padding-top: 3em;
}

.wrapper-res .card-container{
  padding: 2em;
}

.wrapper-res .reserva-info{
  margin-left: 2em;
}

.wrapper-res .reserva-info .form{
  padding-left: 0;
}

.wrapper-res .btn{
  border-radius: 5px;
}

.wrapper-res .btn-submit-important:last-of-type{
  margin-left: 1em;
}


/***********************
-----Prom-Hospedaje-----
***********************/

.wrapper-prom .jumbotron{
  background-image: url("../img/hotel.jpeg");
}

.wrapper-prom .hotel-show{
  padding-top: 4em;
}

.wrapper-prom .hotel-show .all-middle:last-of-type{
  justify-content: center;
  padding-top: 60px;
}

.wrapper-prom .hotel-show img{
  width: 15%;
  margin: 0 1em;
}

.wrapper-prom .container .col-4{
  border-right: 1px solid #dbe0e0;
}

.wrapper-prom .container .col-5 button{
  border-radius: 5px;
}







/***********************
-----Main-footer-----
***********************/

.main-footer{
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px -5px 18px 6px rgba(0,0,0,0.05);
}

.main-footer,
.main-footer a{
  color: #999;
}

.main-footer h2{
  font-weight: 400;
}

.main-footer p{
  font-size: 0.9em;
  margin: 0;
}

.main-footer img{
  height: 20px;
  width: 20px;
  margin-right: 0.5em;
}

.main-footer svg{
  height: 15px;
  width: 15px;
  transition: 400ms;
}

.main-footer .foot-section:last-of-type div:last-of-type a:not(:last-of-type){
  margin-right: 1em;
}

.main-footer svg:hover .st0{
  fill: #2e3033;
  cursor: pointer;
}

.main-footer a:hover{
  color: #2e3033;
}

.main-footer .foot-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1em 0;
}

.foot-section{
  align-items: flex-start;
}

.main-footer .foot-section:first-of-type{
  padding: 3em 2em;
  justify-content: flex-start;
}

.main-footer .col-3,
.main-footer .col-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-footer .col-3 p,
.main-footer .col-2 p{
  margin-bottom: 0.5em;
}

.main-footer .col-3 h2,
.main-footer .col-2 h2{
  margin-bottom: 1.5em;
}

.main-footer .foot-section:last-of-type{
  border-top: 1px solid #dce0e0;
}

.main-footer .foot-section:last-of-type div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/****PlayGround****/

.profile-form input:last-of-type{
  margin-bottom: 0;
}

.profile-form input[type="text"]{
  text-transform: capitalize;
}

.security-form input{
  width: 100%;
}

.select{
  position: relative;
  display: flex;
  align-items: center;
}

.select::before{
  position: absolute;
  content: "";
  background-image: url("../img/svg/icons/downArrow.svg");
  background-size: 8px 8px;
  width: 8px;
  height: 8px;
  right: 1em;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  pointer-events: none;

}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.user-sex{
  width: 15%;
}

.user-country{
  width: 50%;
}

.user-sex .select,
.user-sex select,
.user-country .select,
.user-country select{
  flex: 1;
}

.user-age{
  display: flex;
  flex-direction: row;
}

.user-age .select,
.user-age .select select{
  flex: 1;
}

.user-age .select:not(:first-of-type){
  margin-left: 1em;
}

/*Delete User*/

#deleteUser{
  justify-content: flex-end;
  margin-left: 1em;
  font-weight: 300;

}

#deleteUser a{
  color: #FF2B63;
}

/************************
*******Wrapper-corp******
************************/

.wrapper-corp .container{
  margin-top: 2em;
}

.wrapper-corp .corp-logo{
  width: 200px;
  height: 200px;
  background-image: url('../img/hotel_logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1em;
}

.m-border{
  width: 60%;
  border: 1px solid #39aa94;
  margin: 1em 0;
}

.wrapper-corp .flex{
  justify-content: flex-end;
  position: relative;
}

.wrapper-corp .corp-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  height: 400px;

  left: 0;
}

.wrapper-corp .col-9{

}

.corp-host div:first-of-type{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  transition: 400ms;
}

#form-corp .subtitle{
  margin-bottom: 0;
}
#form-corp p{
  border-bottom: 1px solid #39aa94;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
}

#corp-auth{
  background-image: url('../img/hotel.jpeg');
}

#corp-auth .register-section form{
  padding: 2.8em;
}

#corp-warn{
  background-image: url('../img/hotel.jpeg');
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  box-shadow: inset 0 0 0 1000px rgba(255,148,148,.7);

  background-color:
}

#corp-warn h2{
  margin: 1em 0 0.6em 0;
  color: #454545;
}

#corp-warn p{
  text-align: center;
  max-width: 70%;
  color: #454545;
}

#corp-warn .btn{
  padding: 12px 27px;
  margin-top: 0.6em;
}

#corp-warn .card-container{
  padding: 2.8em;
}

.important-icon{
  font-size: 4em;
  color: #E0202F;
}

#register-confirmation{
  background-image: url('../img/panecillo.jpg');
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4)
}
