/* Estilos para Huasi, una pagina llena de estilo.*/

/***********************
---Reglas Generales-----
***********************/

/*Definir el box-siszin a border box para todos los elementos*/

*{
  box-sizing: border-box;
}

/*Definir el alto de la pagina a 100% por default*/
:root,
html,
body{
  height: 100%;
  color: #2e3033;
}

/*Definir la fuente para el proyecto*/
body{
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

a{
  color: #2e3033;
}


/***********************
------Main-Header-------
***********************/

.main-header{
  border-bottom: 1px solid #EFEEF1;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1em 2em;
  height: 60px;
  width: 100%;
  max-width: 100%;
  z-index: 100000;
}

.drop-shadow{
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  border: 0;
}

.main-header .header-logo a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.main-header .header-logo h2{
  font-size: 1.2em;
}

.main-header .header-logo svg{
  height: 21px;
  max-height: 100%;
  width: 21px;
  margin-right: 0.4em;
}

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.main-nav{
  justify-content: center;
}

.nav a:not(:last-of-type){
  padding-right: 2em;
}

.main-nav a{
  font-size: 0.89em;
}

.main-nav a:hover{
  color: #f26f62;
  color: #00b698;
}

/**+Colores Main-header - transiciones*****/

.main-header .header-logo h2,
.main-nav a{
  font-weight: 400;
  color: #2e3033;
}


.main-header .header-logo h2,
.main-header .header-logo svg,
.main-nav a{
  transition: 400ms;
}

/**class change main-header,
efecto de scrool**/

.change{
  background-color: transparent;
  box-shadow: none;
  margin-top: 1em;
}

.change a,
.change .header-logo h2{
  color: #fff;
}

.change .header-logo h2{
  font-size: 1.5em;
}

.change .header-logo svg{
  height: 27px;
  width: 27px;
}

.change a{
  font-size: 1em;
}

.change a:hover{
  color: #fff;
}

/***********************
-----Sistema de Grid----
***********************/

.col-12{
  width: 100%;
}

.col-11{
  width: 91.66666667%;
}

.col-10{
  width: 83.33333333%;
}

.col-9{
  width: 75%;
}

.col-8{
  width: 66.66666667%;
}

.col-7{
  width: 58.33333333%;
}

.col-6{
  width: 50%;
}

.col-5{
  width: 41.66666667%;
}

.col-4{
  width: 33.33333333%;
}

.col-3{
  width: 25%;
}

.col-2{
  width: 16.66666667%;
}

.col-1{
  width: 8.33333333%;
}


/***********************
--Elementos de Interfaz--
***********************/

.fixed{
  position: fixed;
}

.relative{
  position: relative;
}

.wrapper,
.wrapper-res,
.wrapper-busqueda,
.wrapper-host,
.wrapper-usuario,
.wrapper-prom,
.wrapper-ayuda{
  min-height: 100vh;
  padding-bottom: 4em;
}

.wrapper,
.wrapper-usuario,
.wrapper-logsig,
.wrapper-prom,
.wrapper-ayuda,
.wrapper-res{
  padding-top:60px;
}

.wrapper-busqueda{
  padding-top: 108px;
  z-index: -100;
}

.wrapper-host{
  padding-top: 120px;
}

.wrapper-host,
.wrapper-usuario,
.wrapper-busqueda,
.wrapper{
  background-color: #FAFAFA;
}

.full-height{
  height: calc(100vh - 4.0625em);
}

.jumbotron{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}

.all-middle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex{
  display: flex;
}

.v-middle{
  display: flex;
  align-items: center;
}

.f-row{
  flex-direction: row;
}

.f-colum{
  flex-direction: column;
}

.container{
  padding: 0 2em;
}

.margin-left{
  margin-left: 2em;
}

.margin-right{
  margin-right: 2em;
}

.margin-top{
  margin-top: 2em;
}

.margin-bottom{
  margin-bottom: 2em;
}

.air-both{
  padding-top: 2em;
  padding-bottom: 2em;
}

.img-responsive{
  max-width: 100%;
  height: auto;
}

.b-border{
  border-bottom: 1px solid #dce0e0;
}

.t-border{
  border-top: 1px solid #dce0e0;
}

/*** Textos**/

.hero-title{
  color: #f7f7f7;
  font-size: 2.5em;
}

.hero-subtitle{
  color: #f7f7f7;
}

.title,
.subtitle{
  color: #2e3033;
}

.title{
  font-size: 1.9em;
  font-weight: 600;
}

.caption-title{
  font-size: 2.2em;
  font-weight: 300;
}

.sec-title{
  font-size: 1.2em;
  font-weight: 400;
}

.subtitle{
  font-size: 1.2em;
  font-weight: 300;
}

p{
  font-weight: 300;
  font-size: 1em;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #333 ;
  text-rendering: optimizeLegibility;
}

.caption-text{
  font-size: 0.9em;
  font-weight: 300;
}

.text-left{
  text-align: left;
}

.middle-line{
  text-decoration: line-through;
  color: #f26f62;
}

/***********************
-----Bg-Jumbotrones-----
***********************/

#top-hero{
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  background-image: url("../img/aereo.jpg");
  height: 100vh;
}

/***********************
-----Estilos Formas-----
***********************/

.form-busqueda,
.form-filtro{
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
}

.form-filtro{
  position: fixed;
  top: 60px;
  border-bottom: 1px solid #C7C7CD;
  width: 100%;
  background-color: #fff;
}

#top-hero .form-busqueda{
  margin-top: 2em;
}

.form-filtro input,
.form-busqueda input,
.form-busqueda button{
  padding: 0.8em 1.5em;
  border: 0;
}

.form-filtro input:first-of-type{
  padding: 0.8em 1em 0.8em 2em;
}

.form-filtro input,
.form-busqueda input[type="text"]:not(:last-of-type){
  border-right: 1px solid #C7C7CD;
}

input:focus {
  outline:none;
}

/***********************
-----Estilos Botones-----
***********************/

.btn{
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.btn-submit{
  color: #fff;
  background-color:  #39aa94;
}

.btn-submit-white{
  background-color:  #fff;
}

.btn-submit-important{
  color: #fff;
  background-color: #f26f62;
}

.btn-submit:hover{
  background-color: #41C1A8;
}

.btn-secondary{
  color: #39aa94;
  border: 2px solid #39aa94;
}

.verify{
  background-color: #70E593;
  background-color:  #39aa94;
  padding: 1em;
  text-align: center;
  border-radius: 5px;
  color: #fff;
}

/***********************
-------Slide-Show-------
***********************/

.vp-show,
.deal-show,
.host-show{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3em;
}

.wrapper-busqueda .caption-text{
  position: absolute;
  top: 130px;
  right: 2em;
  z-index: 1;
}


.slide-show{
  padding: 2.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
  z-index: 100;
}

.vp-host div:first-of-type,
.host div:first-of-type{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  transition: 400ms;
}

.host div:first-of-type{
  height: 300px;
}

.host-show .slide-show a:not(:nth-child(4n+1)){
  margin-left: 1.33em;
}

.vp-host,
.host{
  position: relative;
  z-index: 1;
}

.vp-host p{
  transition: 400ms;
}

.vp-show .slide-show a:not(:first-of-type){
  margin-left: 1em;
}

.vp-show .card-container,
.host-show .card-container{
  padding: 0;
}

.vp-show .card-container p,
.host-show .card-container p{
  padding: 0 1em;
}

.vp-show .card-container:hover,
.host-show .card-container:hover{
  box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.4);
}

.host-show .slide-show a:hover .host div:first-of-type,
.vp-show .slide-show a:hover .vp-host div:first-of-type{

}

/*.slide-show a:hover .vp-host p{
color: #00b698;
}*/

#vp-1{
  background-image: url("../img/vp/vp-5.jpeg");
}

#vp-2{
  background-image: url("../img/vp/vp-6.jpg");
}

#vp-3{
  background-image: url("../img/vp/vp-7.jpg");
}

#vp-4{
  background-image: url("../img/vp/vp-8.jpg");
}


.deal-show .slide-show,
.host-show .slide-show{
  flex-wrap: wrap;
  justify-content: flex-start;
}

.deal-show .slide-show a:not(:nth-child(4n+1)){
  margin-left: 1em;
}

.deal-show .slide-show a,
.host-show .slide-show a{
  margin-bottom: 1em;
  flex-basis: calc(25% - 1em);
  transition: 400ms;
}

.deal-host{
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.2);
  box-shadow: 0px 4px 18px 6px rgba(0,0,0,0.05);
  padding: 0 1em;
}


.deal-host svg{
  height: 40px;
  max-width: 60px;
}

.deal-host svg path{
  fill: #00b698;
}

.deal-host p{
  margin: 0;
}

.deal-host .v-middle{
  margin-top: 1em;
}

.deal-host .v-middle p:not(:last-of-type){
  padding-right: 1em;
}

.deal-show .slide-show a:hover .deal-host{
  border: 1px solid  #dce0e0;
  box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.4);
}

/***********************
----Forma-Registro------
***********************/


.register-section,
.login-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4em 2em;
  background-color: #00b698;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  background-image: url("../img/panecillo.jpg");
}

/*.login-section2{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
margin-bottom: 3em;
padding: 4em 2em;
background-color: #00b698;
height: 105vh;
box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
background-image: url("../img/fondo.jpg");
}*/

.register-section form,
.login-section form{
  width:37%;
}

.login-section{
  min-height: calc(100vh - 4.0625em);
}

.form{
  display: flex;
  flex-direction: column;
  padding: 3em 2em;
  background-color: #fff;
}

.form h2{
  margin-bottom: 1.5em;
}

.form input,
.form textarea{
  outline: 0;
  border: 0;
  border: 1px solid  #dce0e0;
  box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.2);
  padding: 7px 1em;

}

.form input,
.form textarea{
  margin: 0.5em 0;
}

.form input:last-of-type{
  margin-bottom: 1.2em;
}

.form a{
  width: 100%;
}

.form button{
  padding: 1em 0.5em;
  margin-top: 1em;
  width: 100%;
}

/***********************
-----Forma-reserva------
***********************/

.form-reserva{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2em 1em;
}

.form-reserva .flex,
.form-reserva .all-middle{
  width: 100%;
}

.form-reserva input{
  width: 100%;
  box-shadow: none;
  padding: 0.9em 1em;
}

.form-reserva .flex:last-of-type input:first-of-type{
  border-left: none;
}



/***********************
-----Hospedajes-----
***********************/



.host-title{
  text-align: left;
  flex: 1;
  margin-bottom: 1.5em;
  padding: 0 1em;
}

.hero-title .subtitle{
  font-size: 1.3em;
}

.host-info{
  padding-right: 2em;
}

#descripcion,
#evaluaciones,
#ubicacion,
.related-hosts{
  margin-top: 2em;
  padding-top: 3em;
}

.card-container{
  margin-top: 1em;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 4px 18px 6px rgba(0,0,0,0.05);
}

#host-name{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 1.5em;
}

#host-name img{
  vertical-align: middle;
}

#descripcion .perks ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  height: 200px;

}

#descripcion .perks ul li{
  padding: 1em 0;
}

#descripcion .perks ul li::before{
  content: "• ";
  color: #F26F62;
}

#evaluaciones span:first-of-type{
  margin-left: 1em;
}

#evaluaciones span img{
  height: 20px;
}

.host-coment{
  width: 100%;
  background-color: #fff;
  margin-top: 1em;
  padding: 1.6em 1em;
}

.host-coment:not(:last-of-type){
  border-bottom: 1px solid #dbe0e0;
}

.host-coment img{
  height: 60px;
  border-radius: 100%;
}

.coment-user{
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coment-user p{
  margin-top: 5px;
}


.related-hosts a:not(:first-of-type){
  margin-left: 1em;

}

.related-hosts a{
  z-index: 1;
}

.related-hosts{
  padding-top: 2em;
  border-top: 1px solid #dce0e0;
}

.related-hosts .card-container{
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2.5em;
}

.host-reserve{
  box-shadow: rgba(0,0,0,0.05) 0 1px;
  background-color: #fff;
  position: fixed;
  top: 60px;
  display: flex;
  align-items: stretch;
  right: 0;
  height: 50px;
  width: 100%;
  z-index: 100000;
}

.host-reserve .nav a:hover div{
  color: #39aa94;
}

.host-reserve .nav a:first-of-type{
  padding-right: 0;
  padding-left: 0;
}


.host-reserve .nav a:not(:first-of-type){
  padding-left: 4em;
  padding-right: 0;
}

.host-reserve .col-3{
  background-color: #39aa94;
}

.host-reserve .col-3 .big{
  font-weight: 400;
  font-size: 1.2em;
}

.host-reserve .col-3 h2:first-of-type{
  color: #fff;
  font-weight: 300;
  font-size: 1em;
}

.host-reserve .col-3 .caption-reserve{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: calc(25% - 1em);
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 4px 18px 6px rgba(0,0,0,0.05);
}

.caption-reserve .btn-submit{
  /*background-color: #465775;*/
}

.caption-reserve .btn-secondary{
  /*border-color: #465775;
  color: #465775;*/
}


/***********************
-----Perfil-usuario-----
***********************/

.wrapper-usuario{
  margin: auto;
}

.wrapper-usuario .container{
  margin-top: 3em;
}

.wrapper-usuario .col-4{
  margin-left: 1em;
  height: 400px;
}

.wrapper-usuario .col-4 p{
  margin-left: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}


.wrapper-usuario .col-4 p::before{
  width: 20px;
  height: 20px;
  display: inline-block;
  content: url(../img/svg/icons/check.svg);
  margin-right: 1em;
  vertical-align: middle;

}

.wrapper-usuario .col-4 p:first-of-type{
  margin-top: 3em;
}

.user-profile-info{
  padding: 2em 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-profile-info img{
  width: 200px;
  border-radius: 100%;
  margin-right: 3em;
}

.user-profile-info .sec-title{
  font-size: 1.4em;
}

.user-profile-info p:first-of-type{
  margin-bottom: 0;
}

.user-profile-info p:last-of-type{
  margin-top: 0.3em;
}

.user-whishlist{
  padding: 2em;
}

.user-whishlist .sec-title{
  margin-bottom: 1em;
}

.user-whishlist .wishlist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-whishlist .wishlist h2{
  color: #fff;
  margin-bottom: 0;
}

.user-whishlist .wishlist a:not(:nth-child(2n+1)){
  margin-left: 1em;
}

.user-whishlist .wishlist a{
  flex-basis: calc(50% - 0.5em);
  margin-bottom: 1em;
}

.user-whishlist .wishlist a div:first-of-type{
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
  color: #fff;
  border-radius: 2px;
  transition: 400ms;
}

.user-whishlist .wishlist a:hover{
  box-shadow: 0px 4px 18px 6px rgba(0,0,0,0.05);
}

.user-whishlist .wishlist a:hover div:first-of-type{
  border: 1px solid;
}



/***********************
----------Ayuda--------
***********************/


.wrapper-ayuda{
  padding-top: 5em;
}

.wrapper-ayuda .title{
  font-size: 1.4em;
}

.wrapper-ayuda .title:first-of-type{
  margin-bottom: 0.5em;
}

.wrapper-ayuda .preguntas{
  padding-top: 1em;
}

.wrapper-ayuda .preguntas p{
  max-width: 100%;
  margin-bottom: 2em;
}

.wrapper-ayuda form{
  margin-top: 2em;
  padding: 0;
}

.wrapper-ayuda .col-4:first-of-type{
  height: 450px;
  margin-left: 1em;
  order: 2;
}


.wrapper-ayuda .form button{
  padding: 0.5em;
  border-radius: 5px;
  align-self: flex-end;
}

/***********************
---------Reserva--------
***********************/

.wrapper-res .container{
  padding-top: 3em;
}

.wrapper-res .card-container{
  padding: 2em;
}

.wrapper-res .card-container img{
  height: 300px;
}

.wrapper-res .reserva-info{
  margin-left: 2em;
}

.wrapper-res .reserva-info .form{
  padding-left: 0;
}

.wrapper-res .btn{
  border-radius: 5px;
}

.wrapper-res .btn-submit-important:last-of-type{
  margin-left: 1em;
}


/***********************
-----Prom-Hospedaje-----
***********************/

.wrapper-prom{

}

.wrapper-prom .container{

}

.wrapper-prom .container .col-4{
  border-right: 1px solid #dbe0e0;
}

.wrapper-prom .container .col-5 button{
  border-radius: 5px;
}







/***********************
-----Main-footer-----
***********************/

.main-footer{
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px -5px 18px 6px rgba(0,0,0,0.05);
}

.main-footer,
.main-footer a{
  color: #999;
}

.main-footer h2{
  font-weight: 400;
}

.main-footer p{
  font-size: 0.9em;
  margin: 0;
}

.main-footer img{
  height: 20px;
  width: 20px;
  margin-right: 0.5em;
}

.main-footer svg{
  height: 15px;
  width: 15px;
  transition: 400ms;
}

.main-footer .foot-section:last-of-type div:last-of-type a:not(:last-of-type){
  margin-right: 1em;
}

.main-footer svg:hover .st0{
  fill: #2e3033;
  cursor: pointer;
}

.main-footer a:hover{
  color: #2e3033;
}

.main-footer .foot-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1em 0;
}

.foot-section{
  align-items: flex-start;
}

.main-footer .foot-section:first-of-type{
  padding: 3em 2em;
  justify-content: flex-start;
}

.main-footer .col-3,
.main-footer .col-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-footer .col-3 p,
.main-footer .col-2 p{
  margin-bottom: 0.5em;
}

.main-footer .col-3 h2,
.main-footer .col-2 h2{
  margin-bottom: 1.5em;
}

.main-footer .foot-section:last-of-type{
  border-top: 1px solid #dce0e0;
}

.main-footer .foot-section:last-of-type div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
